/特別活動の記録のヘッダー
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_header', student: student

/1年生
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_1_grade', student: student

/2年生
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_2_grade', student: student

/3年生
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_3_grade', student: student

/4年生
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_4_grade', student: student

/5年生
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_5_grade', student: student

/6年生
= render 'youroku_print_labo/youroku_print_parts/class_learning_area/class_learning_6_grade', student: student