h1 Dashboard#index
p Find me in app/views/dashboard/index.html.slim

p = link_to 'laboratory_bootstrap_path', laboratory_bootstrap_path
p = link_to '要録印刷レイアウトのテスト', '/youroku_print_labo/show/1/1/1/hide'
p = link_to '児童一覧', students_path
