.text_box[style="left: 12mm; top: 129mm; width: 180mm; height:  6mm" class="#{print_display_border?(@print_status)}"]
  p.in_box_text_8pt.text_center[style="line-height: 6mm" class="#{print_hide?(@print_status)}"]
    | 総　合　所　見　及　び　指　導　上　参　考　と　な　る　諸　事　情

/ [box] 第1学年
= render 'youroku_print_labo/youroku_print_parts/total_comment_area_jijo/total_comment_1_grade', student: student

/ [box] 第2学年
= render 'youroku_print_labo/youroku_print_parts/total_comment_area_jijo/total_comment_2_grade', student: student

/ [box] 第3学年
= render 'youroku_print_labo/youroku_print_parts/total_comment_area_jijo/total_comment_3_grade', student: student

/ [box] 第4学年
= render 'youroku_print_labo/youroku_print_parts/total_comment_area_jijo/total_comment_4_grade', student: student

/ [box] 第5学年
= render 'youroku_print_labo/youroku_print_parts/total_comment_area_jijo/total_comment_5_grade', student: student

/ [box] 第6学年
= render 'youroku_print_labo/youroku_print_parts/total_comment_area_jijo/total_comment_6_grade', student: student
