/ 【box】児童氏名
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/name_omote', student: student
/ 【box】学校名
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_name', student: student
/ 【box】区分／学年
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_grade', student: student
/ 【box】学級
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_class', student: student
/ 【box】整理番号
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_number', student: student
