/ 【box】児童氏名
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/name'
/ 【box】学校名
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_name'
/ 【box】区分／学年
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_grade'
/ 【box】学級
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_class'
/ 【box】整理番号
= render 'youroku_print_labo/youroku_print_parts/name_and_number_area/school_number'
