/ 【box】各教科の学習の記録のヘッダー
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/study_rating_area_header', student: student

/ 【box】各教科の学習の記録 ＞ 国語
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/language', student: student

/ 【box】各教科の学習の記録 ＞ 社会
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/social_studies', student: student

/ 【box】各教科の記録 ＞ 算数
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/math', student: student

/【box】各教科の記録 ＞ 理科
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/science', student: student

/【box】各教科の記録 ＞ 生活
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/life', student: student

/【box】各教科の記録 ＞ 音楽
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/music', student: student

/【box】各教科の記録 ＞ 図画工作
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/art', student: student

/【box】各教科の記録 ＞ 家庭科
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/home_economics', student: student

/【box】各教科の記録 ＞ 体育
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/phisical', student: student

/【box】各教科の記録 ＞ 外国語
= render 'youroku_print_labo/youroku_print_parts/study_rating_area/english', student: student
