/ [box] 出欠の記録のヘッダー
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_header'

/ [box] 1年
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_1_grade'

/ [box] 2年
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_2_grade'

/ [box] 3年
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_3_grade'

/ [box] 4年
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_4_grade'

/ [box] 5年
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_5_grade'

/ [box] 6年
= render 'youroku_print_labo/youroku_print_parts/attendance_area/attendance_6_grade'