.text_box[style="left: 17.5mm; top: 11mm; width: 40mm; height: 5mm; border: white;" class="#{print_display_border?(@print_status)}"]
  p.in_box_text_8pt[style="line-height: 5mm" class="#{print_hide?(@print_status)}"]
    |  様式2 （指導に関する記録）
