/ [box] 行動の記録のヘッダー
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/life_rating_header', student: student

/ [box] 基本的な生活習慣
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/life_tempo', student: student

/ [box] 健康・体力の向上
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/health', student: student

/ [box] 自主・自立
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/independence', student: student

/ [box] 責任感
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/responsibility', student: student

/ [box] 創意工夫
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/originality', student: student

/ [box] 思いやり
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/compassion', student: student

/ [box] 生命尊重・自然愛護
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/welfare', student: student

/ [box] 勤労・奉仕
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/service', student: student

/ [box] 公正・公平
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/fairness', student: student

/ [box] 公共心・公徳心
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/public', student: student

/ [box] 行動の記録のフッター
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/life_rating_footer', student: student