/ [box] 行動の記録のヘッダー
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/life_rating_header'

/ [box] 基本的な生活習慣
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/life_tempo'

/ [box] 健康・体力の向上
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/health'

/ [box] 自主・自立
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/independence'

/ [box] 責任感
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/responsibility'

/ [box] 創意工夫
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/originality'

/ [box] 思いやり
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/compassion'

/ [box] 生命尊重・自然愛護
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/welfare'

/ [box] 勤労・奉仕
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/service'

/ [box] 公正・公平
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/fairness'

/ [box] 公共心・公徳心
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/public'

/ [box] 行動の記録のフッター
= render 'youroku_print_labo/youroku_print_parts/life_rating_area/life_rating_footer'